<%- model_class = InformationCone -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <% if signed_in? %>
    <% if @subscription %>
      <%= link_to("Unsubscribe", information_cone_unsubscribe_path(@information_cone), method: :delete, class: 'btn btn-danger') %>
    <% else %>
      <%= link_to("Subscribe", information_cone_subscribe_path(user_id: current_user.id, information_cone_id: @information_cone.id), method: :post, class: 'btn btn-success') %>
    <% end -%>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @information_cone.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @information_cone.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    information_cones_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_information_cone_path(@information_cone), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    information_cone_path(@information_cone),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
</div>

<h2>Posts</h2>

<div class="container">
  <%= render partial: 'posts/post', collection: @posts %>
</div>
