<div class="row post has-popover" data-container="body" data-trigger="hover" data-placement="right" data-content="<%= post.description %>">
  <div class="col-md-2">
    <a href="#" class="thumbnail"></a>
  </div>

  <div class="col-md-2">
    <p><span class="badge alert-success">Click count number here</span></p>
    <p><span class="badge alert-danger">Irrelevance number here</span></p>
  </div>
  <div class="col-md-6">
    <p>
    <% if post.url.blank? %>
      <%= link_to(post.title, information_cone_post_path(information_cone_id: post.information_cone_id, id: post.id)) %>
    <% else %>
      <%= link_to post.title, post.url %>
      <%= URI.parse(post.url).host.downcase %>
    <% end %>
    </p>
    <p>
      <%= link_to post.information_cone do%>
        <span class="label label-info"><%= post.information_cone.title %></span>
      <% end %>
      <span class="label label-default"><%= post.user.username %></span>
    </p>
    <div class="btn-group">
      <%= link_to "Comment", information_cone_post_path(information_cone_id: post.information_cone_id, id: post.id), class: "btn btn-default" %>
      <button type="button" class="btn btn-default">Report</button>
      <button type="button" class="btn btn-danger">Irrelevant!</button>
    </div>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary btn-block" role="button">Open in a Tab</a>
    <a class="btn btn-primary btn-block" role="button">Save for later</a>
  </div>
</div>
