<h2><%= @post.title %></h2>
<p><%= @post.information_cone.title %> <%= @post.user.username %></p>

<p><%= @post.description %></p>

<div class="container">
  <%= render partial: 'posts/comment', collection: @comment_threads %>
</div>
